@media all and (max-width: 1024px){
	
	
	
}

@media all and (max-width: 768px) {
	#menu .toggle{ /*nie pokazujemy czeckboxa, brak #drop*/
		display: block;
		color: #1ac056;
		font-weight: 500;
		padding: 0 20px;
		font-size: 20px;
		line-height: 60px;
		text-decoration: none;
		border: none;
		background-color: #fff;

			}
	#menu ul{
		display: none;

	}
	#drop:checked +ul {
        display: block;

    }
    
    #menu ul {
        display: none;
        width: 100%;
        text-align: right;
        padding: 0;

    }
    
    #menu ul li {
        display: block;
        width: 100%;

	
    }
	
	
	 #header .main-header-content {
        padding: 10%;
    }
	
	
	 #about > figure {
        width: 100%;
    }
	 #about > figure > img {
        max-height: inherit;
    }
	#about > article {
        width: 100%;
    }
	h2, h4{
		font-size: 0.9em;			
	}
	.portfolio-items .single-portfolio-item .single-portfolio-item-mask-border .single-portfolio-item-content p{
		font-size: 0.8em;
	}
	
	#contact-info{
		width: 100%;
	}
	
	#contact-form{
		width: 100%;
		display: inherit;
	}
	.icons a{
		margin-top: 10px;
	}
}

@media all and (max-width: 680px) {
/*	header*/
	h1{
		font-size: 3em;
	}
	h2{
		font-size: 1.5em;
	}
}

@media all and (max-width: 480px) {
	
	
}