/*General styles*/
* {
	box-sizing: border-box; /*wymiar liczony z paddingiem*/
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: #291f1a;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	text-align: center;
	font-size: 30px;
	font-weight: 300;
	margin-top: 60px;
	margin-bottom: 35px;
	
}
section{
	padding: 0 80px 100px;
	width: 100%;
}

section>h2{
	font-size: 30px;
	font-weight: 300;
}
span{
	color:#1ac056;
	font-weight: 400;
}

#menu{
	width: 100%;
	position: fixed;
	text-align: right;
	background-color: #fff;
	margin: 0;
	z-index: 2;
	top: 0;
	right: 0;
}

#menu .menu-item {
	display: inline-block;
	padding: 20px 40px;
	list-style: none;
	font-weight: 300;
	
}

#menu .menu-item a{
	text-decoration: none;
	color: #1ac056;
}

#menu .menu-item a:hover{
	color: #999;
}

/*HEADER*/
#header{
	background-image: url('/img/header-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	z-index: 1;
}

#header .main-header-content {
	padding: 30vh;
	text-align: center;
}
#header .main-header-content h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	font-size: 4em;
	margin: 0;
}

#header .main-header-content h2{
	margin: 0;
}

/*ABOUT ME*/
#about{
	background-color: #f9fcfe;
	overflow: hidden; /*powiększa tło do wys kontentu*/
}

#about >figure{
	width: 50%;
	float: left;
	margin: 0;
	text-align: center;
	
}
#about > article{
	width: 50%;
	float: left;
	margin: 0;
	font-weight: 300;
	line-height: 25px; /*odstęp linii tekstu*/
}
#about > figure > img{
	max-height: 350px;
	margin: 0;
	border: 15px white solid;
	border-radius: 15px;
	max-width: 100%; /*odnosimy się do szer parenta*/
}

/*SKILLS*/
#skills{
	text-align: center;
}
.styles-icon>figure{
	display: inline-block;
}
#skills #skills-icons figure img{
	margin-top: 30px;
}
#skills>p{
	font-weight: 300;
}

/*PORTFOLIO*/
.images{
	width: 100%;
	font-size: 0;
	height: 350px;
	text-align: center;
}
.portfolio_item{
	display: inline-block;
    width: 33.3333%;
	height: 350px;
	background-repeat: none;
	background-size: cover;
}
#img_left{
	background: url('../img/portfolio1.jpg');
}
#img_center{
	background: url('../img/portfolio2.jpg');
}

#img_right{
	background: url('../img/portfolio4.jpg');
}

.img_overlay{
	display: inline-block;
    width: 100%;
	height: 100%;
	background-size: cover;	
	background: rgba(33,59,80,0.75);
	opacity: 0;
	transition: all 0.5s ease-in-out;
}
.img_overlay:hover{
	opacity: 1;
	transition: all 0.5s ease-in-out;
}
.portfolio_content_border{
	height: 330px;
	width: 28%;
	border: solid 1px white;
	position: absolute;
	margin: 10px;
}
.portfolio_content{
	position: relative;
	top: 50%;
	color: #fff;
	transform: translateY(-50%);
}

.portfolio_content a:visited{
	color: #fff;
}

.portfolio_content>p{
	font-size: 16px;
	margin: 0;
	padding: 10px;
	font-weight: 200;
}
.portfolio_content>h6{
	font-size: 20px;
	margin-top: 25px;
	font-weight: 500;
}
.portfolio_content>a{
	font-size: 25px;	
}

.portfolio_content>a:hover{
	color: grey;
}


/*KONTAKT*/
#contact{
	background-color: #213b50;
	color: #fff;
	font-weight: 500;
	overflow: hidden;
}
#contact > #contact-info{
	width: 49%;
	float: left;
}
address a{
	color:#1ac056;
}
address a:hover{
	color: gray;
}

/*FORMULARZ*/
#contact > #contact-form{
	width: 49%;
	float: left;
}
input{
	width: 100%;
	height: 25px;
	margin: 10px;
}
#contact > #contact-form button {
	color: white;
	width: 30%;
	height: 40px;
	text-decoration: none;
	border: 0px solid white;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;	
	background-color: #1ac056;
	float: right;
}


#contact > #contact-form input[type] {
    background-color: #2b4a64;
    color: white;
	border: 0px;
}
#contact > #contact-form textarea{
	background-color: #2b4a64;
    color: white;
	border: 0px;
	width: 100%;
	height: 100px;
	margin: 10px;
}


	
/*ICONS*/
.icons a{
	display: inline-block;
	height: 50px;
	width: 50px;
	font-size: 22px;
	line-height: 50px;
	border: 1px solid white;
	text-align: center;
	margin-right: 20px;
	margin-top: 75px;
}

.icons a:hover{
	background-color: #fff;
	color: #2b4a64;
}
.icons a:visited { 
    color: #fff;
}
#contact h2{
	text-align: left;
}
#contact-form{
	margin-top: 100px;
}

/*FOOTER*/
footer > p{
	text-align: center;
}